@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background: #fffcf9;
  font-family: "Poppins", sans-serif;
}
.orange {
  color: #ef8d21;
}
.reg-button {
  background: #ef8d21;
  border-radius: 100px;
  border: none;
}
.reg-button:focus,
.reg-button:hover {
  background: #d67916;
}
.nav-link.active {
  font-weight: 600;
  border-bottom: #ef8d21 2px solid;
}
.hero-btn {
  box-shadow: 0px 5px 2px #ef8d21;
  animation: fadeIn 800ms ease-out;
}

.col-carousel {
  margin: 70px 0;
}

/* owl nav */
.owl-prev span,
.owl-next span {
  color: #fff;
}

.owl-prev span:hover,
.owl-next span:hover {
  color: #8199a3;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 45%;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #ef8d21 !important;
  color: #fff !important;
}

.owl-prev {
  left: 7px;
}

.owl-next {
  right: 7px;
}
.item .card {
  border-radius: 50px 50px 0px 0px;
  background-color: #ef8d21;
  color: #fff;
}
.card {
  overflow: hidden;
  transition: all 700ms ease-in;
}
.card img {
  transition: all 700ms ease-in;
  z-index: 5;
  position: relative;
}
.card:hover img {
  transform: scale(1.5);
  position: relative;
  filter: brightness(40%);
}
.card:hover .card-title {
  transform: translateY(-30px);
}
.card-title {
  transition: all 700ms ease-out;
}
.card-title {
  z-index: 100;
  position: relative;
  text-decoration: none !important;
}
/* removing blue outline from buttons */
button:focus,
button:active {
  outline: none;
}

.contact-video {
  display: block;
  height: 9.0625rem;
  margin: 1.25rem auto 0;
  width: 9.0625rem;
}
.headline .text-secondary {
  animation: fadeInDown 800ms ease-out;
}
.headline .display-4 {
  animation: fadeInUp 800ms ease-out;
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.ellipse1 {
  position: absolute;
  width: 236px;
  height: 236px;
  left: 2px;
  top: 30%;
  border-radius: 100%;
  opacity: 0.1;
  border: 60px solid rgba(0, 0, 0, 0.3);
}
.ellipse2 {
  position: absolute;
  width: 104px;
  height: 104px;
  left: 50%;
  top: 18%;
  border-radius: 100%;
  animation: floating infinite ease-in-out 5s;
  border: 8px solid rgba(239, 141, 33, 0.2);
}

/* Keyframes */

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
