@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background: #fffcf9;
  font-family: "Poppins", sans-serif;
}
.orange {
  color: #ef8d21;
}
.reg-button {
  background: #ef8d21;
  border-radius: 100px;
  border: none;
}
.reg-button:focus,
.reg-button:hover {
  background: #d67916;
}
.nav-link.active {
  font-weight: 600;
  border-bottom: #ef8d21 2px solid;
}
.hero-btn {
  box-shadow: 0px 5px 2px #ef8d21;
}

.col-carousel {
  margin: 70px 0;
}

/* owl nav */
.owl-prev span,
.owl-next span {
  color: #fff;
}

.owl-prev span:hover,
.owl-next span:hover {
  color: #8199a3;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 45%;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #ef8d21 !important;
  color: #fff !important;
}

.owl-prev {
  left: 7px;
}

.owl-next {
  right: 7px;
}
.item .card {
  border-radius: 50px 50px 0px 0px;
  background-color: #ef8d21;
  color: #fff;
}
.card {
  overflow: hidden;
  transition: all 700ms ease-in;
}
.card img {
  transition: all 700ms ease-in;
  z-index: 5;
  position: relative;
}
.card:hover img {
  transform: scale(1.5);
  position: relative;
  filter: brightness(40%);
}
.card:hover .card-title {
  transform: translateY(-30px);
}
.card-title {
  transition: all 700ms ease-out;
}
.card-title {
  z-index: 100;
  position: relative;
  text-decoration: none !important;
}
/* removing blue outline from buttons */
button:focus,
button:active {
  outline: none;
}

.contact-video {
  display: block;
  height: 9.0625rem;
  margin: 1.25rem auto 0;
  width: 9.0625rem;
}
